<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AttendanceTracking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>AttendanceExportService</display-name>
    <servlet-name>AttendanceExportService</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.utilities.AttendanceExportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceExportService</servlet-name>
    <url-pattern>/AttendanceExportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Oddelenie</display-name>
    <servlet-name>Oddelenie</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.entities.OddelenieService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oddelenie</servlet-name>
    <url-pattern>/Oddelenie</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>Dovolenka</display-name>
    <servlet-name>Dovolenka</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.entities.DovolenkaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dovolenka</servlet-name>
    <url-pattern>/Dovolenka</url-pattern>
  </servlet-mapping> <servlet>
    <display-name>CiselnikStavov</display-name>
    <servlet-name>CiselnikStavov</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.entities.CiselnikStavovService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CiselnikStavov</servlet-name>
    <url-pattern>/CiselnikStavov</url-pattern>
  </servlet-mapping> <servlet>
    <display-name>Personalista</display-name>
    <servlet-name>Personalista</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.entities.PersonalistaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personalista</servlet-name>
    <url-pattern>/Personalista</url-pattern>
  </servlet-mapping> <servlet>
    <display-name>Praceneschopnost</display-name>
    <servlet-name>Praceneschopnost</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.entities.PraceneschopnostService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Praceneschopnost</servlet-name>
    <url-pattern>/Praceneschopnost</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>PritomnostVPraci</display-name>
    <servlet-name>PritomnostVPraci</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.entities.PritomnostVPraciService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PritomnostVPraci</servlet-name>
    <url-pattern>/PritomnostVPraci</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VeduciOddelenia</display-name>
    <servlet-name>VeduciOddelenia</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.entities.VeduciOddeleniaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeduciOddelenia</servlet-name>
    <url-pattern>/VeduciOddelenia</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Zamestnanec</display-name>
    <servlet-name>Zamestnanec</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.att.services.entities.ZamestnanecService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Zamestnanec</servlet-name>
    <url-pattern>/Zamestnanec</url-pattern>
  </servlet-mapping>
</web-app>